<a href="https://colab.research.google.com/github/amolsapkal16/EDA_Play-store-analysis/blob/main/Play_Store_App_Review_Analysis_Amol_Sapkal_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**# Importing libraries**

In [2]:
import osqp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

**Importing** **.csv files**

In [3]:
Playstoredata_path = '/content/drive/MyDrive/Colab Notebooks/Play Store Analysis_Amol Sapkal/Play Store Data.csv'
Userreviews_path = '/content/drive/MyDrive/Colab Notebooks/Play Store Analysis_Amol Sapkal/User Reviews.csv'

**Creating** **a panda data frames**

In [4]:
Play_store_data = pd.read_csv(Playstoredata_path)
User_reviews = pd.read_csv(Userreviews_path)

In [5]:
Play_store_data

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [6]:
Play_store_data2 = Play_store_data.copy()
Play_store_data2

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [74]:
Play_store_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

**Need to check correct data type of variables (columns)**

App - Object - No need to correct

Category - Object - No need to correct

Rating - Float - No need to correct

Reviews - Object - May need conversion to float/int

Size - Object - May need conversion to float/int

Installs - Object - May need conversion to float/int

Price - Object - May need conversion to float/int

Content rating - Object - No need to correct

Genres - Object - No need to correct

Last Updated - Object - No need to correct

Current Ver - Object - No need to correct

Android Ver - Object - No need to correct

**Following variable data types need to verify**

Reviews - Object - May need conversion to float/int

Size - Object - May need conversion to float/int

Installs - Object - May need conversion to float/int

Price - Object - May need conversion to float/int

**Following columns have missing values - Rating, Type, Content Rating, Current version, Android version**

In [ ]:
# Play_store_data1['Content Rating'] = Play_store_data1['Content Rating'].astype(str)

**Imputing missing values using lambda function**

---

In [21]:
# Play_store_data1 = Play_store_data1.apply(lambda x:x.fillna(x.mean()) \
                                         # if x.dtype == 'float' else \
                                         # x.fillna(x.value_counts().index[0]))

In [ ]:
# Play_store_data1.isnull().sum()

# **Finding 1st statistical data for numerical variable**

**To see first five rows**

**Need to check correct data type of variables (columns)**

App - Object - No need to correct

Category - Object - No need to correct

Rating - Float - No need to correct

Reviews - Object - May need conversion to float/int

Size - Object - May need conversion to float/int

Installs - Object - May need conversion to float/int

Price - Object - May need conversion to float/int

Content rating - Object - No need to correct

Genres - Object - No need to correct

Last Updated - Object - No need to correct

Current Ver - Object - No need to correct

Android Ver - Object - No need to correct

**Following variable data types need to verify**

Reviews - Object - May need conversion to float/int

Size - Object - May need conversion to float/int

Installs - Object - May need conversion to float/int

Price - Object - May need conversion to float/int

**Working on Reviews column for conversion to float**

---

In [7]:
np.unique(Play_store_data2['Reviews']) # Numerical written in quotes

array(['0', '1', '10', ..., '9975', '999', '9992'], dtype=object)

In [11]:
Play_store_data3 = Play_store_data2.loc[Play_store_data2['Reviews'] == '3.0M']
Play_store_data3 = Play_store_data3.shift(1, axis=1)
Play_store_data3

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,NaN,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up

In [56]:
Play_store_data2['Reviews'] = Play_store_data2['Reviews'].str.replace(',','')
Play_store_data2['Reviews'] = pd.to_numeric(Play_store_data2['Reviews'])

ValueError: ignored

**Use regex code**

In [40]:
# Play_store_data1['Reviews']= pd.to_numeric(Play_store_data1['Reviews'].replace('[^0-9\.-]','',regex=True))

array([0.0000000e+00, 1.0000000e+00, 2.0000000e+00, ..., 6.9119316e+07,
       7.8128208e+07, 7.8158306e+07])

**Working on Size column for conversion to float/int**

In [ ]:
np.unique(Play_store_data1['Size']) # Numerical with alphabet and special character

**Use regex code**

In [ ]:
Play_store_data1['Size']= pd.to_numeric(Play_store_data1['Size'].replace('[^0-9\.-]','',regex=True))
Play_store_data1['Size']

**Working on Installs column for conversion to float/int**

In [33]:
np.unique(Play_store_data1['Installs']) # Numerical in quotes, special character, wrong entry Free

array(['0', '0+', '1+', '1,000+', '1,000,000+', '1,000,000,000+', '10+',
       '10,000+', '10,000,000+', '100+', '100,000+', '100,000,000+', '5+',
       '5,000+', '5,000,000+', '50+', '50,000+', '50,000,000+', '500+',
       '500,000+', '500,000,000+', 'Free'], dtype=object)

**Use regex code**

In [35]:
Play_store_data1['Installs']= pd.to_numeric(Play_store_data1['Installs'].replace('[^0-9\.-]','',regex=True))
Play_store_data1['Installs']

0           10000.0
1          500000.0
2         5000000.0
3        50000000.0
4          100000.0
            ...
10836        5000.0
10837         100.0
10838        1000.0
10839        1000.0
10840    10000000.0
Name: Installs, Length: 10841, dtype: float64

**Working on Price column for conversion to float/int**

In [47]:
np.unique(Play_store_data1['Price']) # Numerical with special character , wrong entry Everyone

array([], dtype=float64)

**Use regex code**

In [48]:
Play_store_data1['Price'] = Play_store_data1['Price'].str.replace('$','').str.replace(',','')

AttributeError: ignored

In [39]:
Play_store_data1['Price']= pd.to_numeric(Play_store_data1['Price'].replace('[^0-9\.-]','',regex=True))
np.unique(Play_store_data1['Price'])

array([  0.  ,   0.99,   1.  ,   1.04,   1.2 ,   1.26,   1.29,   1.49,
         1.5 ,   1.59,   1.61,   1.7 ,   1.75,   1.76,   1.96,   1.97,
         1.99,   2.  ,   2.49,   2.5 ,   2.56,   2.59,   2.6 ,   2.9 ,
         2.95,   2.99,   3.02,   3.04,   3.08,   3.28,   3.49,   3.61,
         3.88,   3.9 ,   3.95,   3.99,   4.29,   4.49,   4.59,   4.6 ,
         4.77,   4.8 ,   4.84,   4.85,   4.99,   5.  ,   5.49,   5.99,
         6.49,   6.99,   7.49,   7.99,   8.49,   8.99,   9.  ,   9.99,
        10.  ,  10.99,  11.99,  12.99,  13.99,  14.  ,  14.99,  15.46,
        15.99,  16.99,  17.99,  18.99,  19.4 ,  19.9 ,  19.99,  24.99,
        25.99,  28.99,  29.99,  30.99,  33.99,  37.99,  39.99,  46.99,
        74.99,  79.99,  89.99, 109.99, 154.99, 200.  , 299.99, 379.99,
       389.99, 394.99, 399.99, 400.  ,    nan])

In [38]:
Play_store_data1.describe()

             Rating       Reviews         Size      Installs         Price
count  10841.000000  1.084100e+04  9146.000000  1.084000e+04  10840.000000
mean       4.193338  4.441119e+05    37.140728  1.546434e+07      1.027368
std        0.499557  2.927629e+06    99.379785  8.502936e+07     15.949703
min        1.000000  0.000000e+00     1.000000  0.000000e+00      0.000000
25%        4.100000  3.800000e+01     5.600000  1.000000e+03      0.000000
50%        4.200000  2.094000e+03    15.000000  1.000000e+05      0.000000
75%        4.500000  5.476800e+04    34.000000  5.000000e+06      0.000000
max       19.000000  7.815831e+07  1020.000000  1.000000e+09    400.000000

In [41]:
Play_store_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          10841 non-null  float64
 3   Reviews         10841 non-null  float64
 4   Size            9146 non-null   float64
 5   Installs        10840 non-null  float64
 6   Type            10841 non-null  object
 7   Price           10840 non-null  float64
 8   Content Rating  10841 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10841 non-null  object
 12  Android Ver     10841 non-null  object
dtypes: float64(5), object(8)
memory usage: 1.1+ MB

**Analyzing and data cleaning in User Reviews data**

In [ ]:
User_reviews

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000
...,...,...,...,...,...
64290,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64291,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64292,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64293,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64294,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN

In [ ]:
User_reviews1 = User_reviews.copy() # make a copy of original data

**To look in to info of data**

In [ ]:
User_reviews1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

**To see missing values**

In [ ]:
User_reviews1.isnull().sum()

App                           0
Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

**Missing values found in all columns, except App**

**Imputing missing values**

In [ ]:
User_reviews1 = User_reviews1.apply(lambda x:x.fillna(x.mean()) \
                                          if x.dtype == 'float' else \
                                          x.fillna(x.value_counts().index[0]))

In [ ]:
User_reviews1.isnull().sum()

App                       0
Translated_Review         0
Sentiment                 0
Sentiment_Polarity        0
Sentiment_Subjectivity    0
dtype: int64

In [ ]:
User_reviews1['App']

0              10 Best Foods for You
1              10 Best Foods for You
2              10 Best Foods for You
3              10 Best Foods for You
4              10 Best Foods for You
                    ...
64290    Houzz Interior Design Ideas
64291    Houzz Interior Design Ideas
64292    Houzz Interior Design Ideas
64293    Houzz Interior Design Ideas
64294    Houzz Interior Design Ideas
Name: App, Length: 64295, dtype: object

In [ ]:
User_reviews1['App'].value_counts()

Angry Birds Classic                                  320
CBS Sports App - Scores, News, Stats & Watch Live    320
Bowmasters                                           320
8 Ball Pool                                          300
Helix Jump                                           300
                                                    ...
Easy Healthy Recipes                                  31
Dresses Ideas & Fashions +3000                        31
Detector de Radares Gratis                            31
Easy Hair Style Design                                30
Drawing Clothes Fashion Ideas                         30
Name: App, Length: 1074, dtype: int64

**Concating User review and Play store data**

In [ ]:
Both_data = pd.concat([Play_store_data1,User_reviews1])
Both_data

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,NaN,NaN,NaN,NaN
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,NaN,NaN,NaN,NaN
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,NaN,NaN,NaN,NaN
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,NaN,NaN,NaN,NaN
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64290,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good,Positive,0.182146,0.492704
64291,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good,Positive,0.182146,0.492704
64292,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good,Positive,0.182146,0.492704
64293,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good,Positive,0.182146,0.492704
64294,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good,Positive,0.182146,0.492704

In [ ]:
Both_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75136 entries, 0 to 64294
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     75136 non-null  object
 1   Category                10841 non-null  object
 2   Rating                  10841 non-null  float64
 3   Reviews                 10841 non-null  object
 4   Size                    10841 non-null  object
 5   Installs                10841 non-null  object
 6   Type                    10841 non-null  object
 7   Price                   10841 non-null  object
 8   Content Rating          10841 non-null  object
 9   Genres                  10841 non-null  object
 10  Last Updated            10841 non-null  object
 11  Current Ver             10841 non-null  object
 12  Android Ver             10841 non-null  object
 13  Translated_Review       64295 non-null  object
 14  Sentiment               64295 non-null  object
 15  Sentiment_Polarity      64295 non-null  float64
 16  Sentiment_Subjectivity  64295 non-null  float64
dtypes: float64(3), object(14)
memory usage: 10.3+ MB